code{
    background:#DCDCDC;
    color: red;
    padding: 0 0.2rem 0 0.2rem;
    font-size: 0.9rem;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Helvetica";
}

mark{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0 0.25em 0;
    background-color: red;
    color: white;
}

#mapperContainer{
    display: flex;
    height: 100%;
}

.mapContainers{
    display: flex;
    width: 100%;
    margin: 0 0 1rem 0;
}

#mapAll{
    min-height: 10ch;
}

.queryBoxes{
    width: 70%;
    min-height: 6ch;
    resize: vertical;
    color: black;
    box-sizing: border-box;
}
.queryBoxes::placeholder{
    font-style: italic;
}
.queryBoxes:focus{
    outline:  none;
    border: 3px solid blue;
}

.queryButtons{
    width: 30%;
}
.queryButtons:hover{
    cursor:pointer;
}

#toolHalf{
    width: 25%;
    height: 100%;

}

#mapHalf{
    width:75%;
    height: 100%;
    margin: 0;
    position: relative;
}

#mapid { 
    height: 100%; 
}

#mapToolAboutContent{
    font-family: "Helvetica";
}

h4{
    text-align: center;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

.coordinatesSinglePairs{
	width: 5ch;
	font-size: 1rem;
	padding: 0.2rem;
	text-align: center;
}

.coordinatesDecimalMin{
	width: 11ch;
	font-size: 1rem;
	padding: 0.2rem;
	text-align: center;
}

.coordinatesDecimalDeg{
	width: 17ch;
	font-size: 1rem;
	padding: 0.2rem;
	text-align: center;
}

.inputCoordinateConversionContainer{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 0 2rem 0;
    font-family: monospace;
}

.inputCoordinateConversionContainerInner {
    width: 60%;
}

.coordinateConversionButton{
    width: 40%;
}

.coordresult{
	color: white;
	font-family: monospace;
	font-size: 1rem;
	width: 98%;
	background: green;
    display: flex;
    margin: 1rem 0 0 0;
	align-items: center;
}

#mapOptionsBar{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
	grid-column-gap: 1rem;
    grid-template-rows: minmax(1rem, 3rem);
	margin: 0 0 1rem 0;
    z-index: 2000000000;
}

#cursorTooltip  {
    display:none;
    padding: 1ch;
    position: absolute;
    bottom: 10%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    left: 5%;
    z-index: 1000;
    width: 27ch;
    font-family: monospace;
}

.mapOptions{
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-weight: bolder;
    text-shadow: 2px 1px black, -2px -1px black, 2px -1px black, -2px 1px black;
    letter-spacing: 2px;
	position: relative;
}

.mapOptions:hover{
    cursor:pointer;
}

#clearMarker{
    background-image: url("./Assets/placeholder.png");
}
#clearMarker::before{
    font: var(--fa-font-solid);
    content: "\f715";
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 200%;
}

#clearPopups{
    background-image: url("./Assets/chat.png");
}
#clearPopups::before{
    font: var(--fa-font-solid);
    content: "\f715";
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 200%;
}

#clearLine{
    background-image: url("./Assets/location-pin.png");
}
#clearLine::before{
    font: var(--fa-font-solid);
    content: "\f715";
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 200%;
    transform: rotate(090deg);
}

#clearAll{
   background-image: url("./Assets/bin.png");
}

#focusSwitzerland{
    background-image: url("./Assets/switzerland.png");
}

#focusEurope{
    background-image: url("./Assets/european-union.png");
}

#focusWorld{
    background-image: url("./Assets/globe.png");
}

#toggleTopo{
    background-image: url("./Assets/layers.png");
}

#toggleVFR{
    background-image: url("./Assets/layers.png");
}

#toggleDrone{
    background-image: url("./Assets/layers.png");
}

#toggleFields{
    background-image: url("./Assets/layers.png");
}

#mapDistanceBar {
	position: absolute;
	top: 0;
	left: 50%;
    transform: translate(-50%, 0);
	width: 60%;
	max-height: 8rem;
	overflow-y: scroll;
	background: rgba(0,0,0,0.6);
	color: white;
	display: none;
	z-index: 1000;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}


#mapDistanceBar table{
	color: white;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed; 
    margin: 0 0 2em 0;
}

#timeInputContainer {
	display: flex;
}

#mapDistanceBar table td{
	text-align: center;
}

#expandMapDistanceBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    width: 5em;
    height: 1em;
    color: black;
}

#tabContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background: green;
}

#tabRow{
	position: relative;
	width: 100%;
	height: 5%;
	background: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#tabContentContainer{
	width: 100%;
    height: 95%;
	position: relative;
    background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
	display: flex;
	justify-content: center;
	align-items: center;
    box-shadow: inset 0px 0px 5px 0px silver;
}

#tabContent{
    direction: rtl;
	position: relative;
	width: 100%;
	height: 95%;
    background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
    overflow-y:scroll;
    display: flex;
    justify-content: center;
	align-items: center;
}

#tabContentInner{
    direction: ltr;
    width: 95%;
    height: 100%;
}

.tabTitle {
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100%;
	aspect-ratio: 1/1;
	z-index: 100;
	padding: 0 0.5rem 0 0.5rem;
    font-size: 2em;
}

.tabTitle:hover{
    cursor: pointer;
}

#mapChoiceTileContainer{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#mapChoiceTileContainerInner{
	width: 95%;
	height: 95%;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(100%, 1fr) );
	grid-gap: 1rem;
}

.mapTileDiv{
    height: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 2px 0px silver, -2px -2px 2px 0px silver;
    position: relative;
}

.mapTileDiv:hover{
    outline: 5px solid blue;
    cursor: pointer;
}

.mapTileDivInner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 0.5rem;
}

.plotCircleInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

#vfrContainer, #droneContainer{
position: absolute;
top:0;
left:0;
right:0;
display: none;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background: rgba(0,0,0,0.6);
transform: translateY(-100%);
}

.vfrContainerInner, .droneContainerInner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 0 1em 0;
    width: 100%;
}
.leftContextMenu{
    background-color: #e7eff9;
background-image: linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
    position: absolute;
    z-index: 20000;
    box-shadow: 2px 2px 10px 0px #8F8F8F;
    font-size: 1.5em;
}

.leftContextList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.leftContextText {
    padding: 0.25em 1em 0.25em 1em;
}
.leftContextText .fa-solid{
    margin: 0 0.5em 0 0;
}
.leftContextText:hover{
    cursor:pointer;
    background: lightgrey;
}
path.leaflet-interactive.countryShape {
    cursor: crosshair;
    caret-color: red;
}

.leaflet-tooltip {
    width: 10vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   height: auto;
   white-space: normal;
}

 .droneTooltip {
   width: 20vw;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   height: auto;
   white-space: normal;
}

summary {

text-align: left;
margin: 0 0 1rem 0;
}




.resultContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.inputContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.inputContainer select,
.inputContainer textarea,
.inputContainer button,
.inputContainer input
{
	width: 100%;
	margin: 0.5em;
    min-height: 1.5rem;
}

.inputContainer textarea{
	min-height: 10em;
	resize: vertical;
}

.resultField{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
    margin: 0 0 1rem 0;
}

.resultField textarea{
	width: 100%;
	min-height: 5rem;
	resize: vertical;
}
.resultField input {
	width: 100%;
}
